.App {
  /* margin-top: 0px; */
  text-align: center;
  color: white;
  font-family: "Vast Shadow", cursive;
  height: 100%;
  background-image: url(/images/dark.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box;
}
