.Header {
  /* display: flex;
  justify-content: center; */
}

.header-title {
  text-align: center;
  font-size: 3em;
  padding-top: 50px;
}

.header-links {
  text-align: right;
  margin-right: 100px;
}

.header-plan {
  margin-right: 20px;
  color: #bf0000;
}

.header-ingredients {
  color: #bf0000;
}

.header-plan:hover,
.header-ingredients:hover {
  color: white;
  text-decoration: none;
}
