.Header {
  margin-top: 0px;
  height: 100%;
}

.header-title {
  text-align: center;
  font-size: 3em;
  padding-top: 50px;
}

.header-links {
  text-align: right;
  margin-right: 150px;
}

.header-home {
  margin-right: 10px;
  color: #ff4136;
  font-size: 0.8em;
  text-decoration: none;
}

.header-plan {
  margin-right: 10px;
  color: #ff4136;
  font-size: 0.8em;
  text-decoration: none;
}

.header-ingredients {
  color: #ff4136;
  font-size: 0.8em;
  margin-right: 35px;
  text-decoration: none;
}

.header-home:hover,
.header-plan:hover,
.header-ingredients:hover {
  color: white;
}
