.Suggestion {
  margin: 50px auto;
}

.suggestion-title {
  text-align: left;
  margin-left: 150px;
  text-decoration: underline;
  border-left: 5px solid #bf0000;
  color: #bf0000;
}

.suggestion-title:hover {
  color: white;
  text-decoration: none;
}

.Suggestion p {
  text-align: left;
  margin-left: 150px;
}

.Slider {
  margin: 30px 150px 0px 150px;
}

/* .meal-one, */
.meal-two,
.meal-three,
.meal-four,
/* .meal-five, */
.meal-six,
.meal-seven,
.meal-eight,
.meal-nine,
.meal-ten,
.meal-eleven,
.meal-twelve,
.meal-thirteen,
.meal-fourteen,
.meal-fifteen,
.meal-sixteen {
  margin: 0px 30px 0px 30px;
}

/* .meal-two {
  margin: 0px 50px 0px 30px;
  padding-right: 30px;
}

.meal-eight {
  margin: 0px 0px 0px 30px;
  padding-left: 30px;
} */

.button-one,
.button-two {
  margin-top: 40px;
  border-radius: 7px;
  background-color: #bf0000;
  color: white;
  cursor: pointer;
}

.button-one {
  margin-right: 5px;
}

.button-two {
  margin-left: 5px;
}
/* This margin is not working. Need to find out how to make it work! */
