.Suggestion {
  margin: 50px auto;
}

.suggestion-title {
  text-align: left;
  margin-left: 150px;
  text-decoration: underline;
  border-left: 5px solid #ff4136;
  color: #ff4136;
}

.suggestion-title:hover {
  color: white;
  text-decoration: none;
}

.Suggestion p {
  text-align: left;
  margin-left: 150px;
}

.Slider {
  margin: 30px 150px 0px 150px;
}

.meal-eight,
.meal-nine,
.meal-ten,
.meal-eleven,
.meal-twelve,
.meal-fifteen {
  margin: 0px 30px 0px 30px;
}

.meal-eight::before,
.meal-nine::before,
.meal-ten::before,
.meal-eleven::before,
.meal-twelve::before,
.meal-fifteen::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.meal-eight:hover::before,
.meal-nine:hover::before,
.meal-ten:hover::before,
.meal-eleven:hover::before,
.meal-twelve:hover::before,
.meal-fifteen:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.button-one,
.button-two {
  margin-top: 40px;
  border-radius: 7px;
  background-color: #ff4136;
  color: white;
  cursor: pointer;
}

.button-one {
  margin-right: 5px;
}

.button-two {
  margin-left: 5px;
}

/* Learned about the image shine effect from this site:
https://codepen.io/nxworld/pen/ZYNOBZ */
