.Suggestion {
  margin: 70px auto;
}

.suggestion-title {
  text-align: left;
  margin-left: 100px;
  text-decoration: underline;
  /* border-left: 5px solid white; */
  color: #bf0000;
}
.suggestion-title:hover {
  color: white;
  text-decoration: none;
}

.Suggestion p {
  text-align: left;
  margin-left: 100px;
}

.Slider {
}

.meal-one,
.meal-two,
.meal-three,
.meal-four,
.meal-five,
.meal-six {
  padding-right: 50px;
}
/* This margin is not working. Need to find out how to make it work! */
